name: Homebrew Installation

on:
  push:
    paths-ignore:
      '*.md'
    branches:
      - master
      - '[0-9].[0-9]'
  pull_request:
    branches:
      - master

jobs:

  x86_64:
    name: Validate x86_64
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3
      - name: test in the installations
        run: |
          brew install --cask Casks/redis-stack-server.rb
          brew install --cask Casks/redis-stack-redisinsight.rb
      - name: run redis-stack
        run:
          /usr/local/bin/redis-stack-server -h &
      - name: try to redis-stack
        run:
          redis-cli ping

  arm-64:
    name: Validate arm-64
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: test in the installations
        run: |
          brew install --cask Casks/redis-stack-server.rb
          brew install --cask Casks/redis-stack-redisinsight.rb
      - name: run redis-stack
        run:
          /opt/homebrew/bin/redis-stack-server -h &
      - name: try to redis-stack
        run:
          redis-cli ping
