name: Homebrew Installation

on:
  push:
    paths-ignore:
      '*.md'
    branches:
      - master
      - '[0-9].[0-9]'
  pull_request:
    branches:
      - master

jobs:

  validate:
    name: Validate installation
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: test in the installations
        run: |
          brew install --cask Casks/redis-stack-server.rb
          brew install --cask Casks/redis-stack-redisinsight.rb
      - name: try to redis-stack
        run:
          /usr/local/bin/redis-stack-server -h
